.container-div {
  height: calc(100vh - 16rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  z-index: 2;
}
.text-container-div {
  background-color: var(--almostWhite2);
  padding: clamp(2rem, 1.5714rem + 1.1905vw, 3rem);
  width: clamp(31rem, 22.8571rem + 22.619vw, 50rem);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid var(--secondary);
}
.text-container-div p {
  align-self: flex-start;
  font-size: clamp(1.3rem, 1.1286rem + 0.4762vw, 1.7rem);
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

.text-container-div h1 {
  font-size: clamp(2rem, 0.9286rem + 2.9762vw, 4.5rem);
  margin-bottom: 1rem;
}
.text-container-div h2 {
  font-size: clamp(2rem, 1.0857rem + 1.4286vw, 2.8rem);
  margin-bottom: 1rem;
}
.text-container-div h3 {
  font-size: clamp(1.6rem, 1.0857rem + 1.4286vw, 2.8rem);
  margin-bottom: 1rem;
}
.text-container-div a {
  color: var(--secondary);
  cursor: pointer;
}
.login-container-div aside {
  color: var(--tertiary);
  cursor: pointer;
  font-size: var(--smallestFont);
  text-decoration: underline;
  margin-bottom: 1rem;
}

.login-container-div h2 {
  margin-bottom: 0;
}
.text-container-div section {
  display: flex;
}

.button {
  white-space: nowrap;
  min-width: auto;
  width: auto;
  margin-top: clamp(1.5rem, 1.1571rem + 0.9524vw, 2.7rem);
}

.delete-button {
  border-color: crimson;
}
.stat-container-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 0.8rem;
  background: var(--almostWhite);
  padding: 0.2rem;
}
.stat-container-div p {
  margin-bottom: 0;
}
.stat-margin {
  margin-top: 1.5rem;
}
.stat-text-input {
  margin: 2rem 0;
  width: 100%;
  padding: 0.2rem;
}
.stat-green-hr {
  color: var(--secondaryTrans);
  margin-top: 1.5rem;
  width: 100%;
}
.stat-textInput {
  font-size: clamp(1.4rem, 1.1429rem + 0.7143vw, 2rem);
  margin-top: 1rem;
  border-radius: 0.7rem;
  padding: 0.3rem;
}
.bridge {
  width: 50%;
  height: 7rem;
  border-radius: 1.2rem;
  border: 2px solid var(--tertiary);
  margin-bottom: 1.2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.login-form h2 {
  margin-top: 1rem;
  text-align: center;
}
.login-form input {
  height: 3rem;
  width: 22rem;
  padding-left: 0.75rem;
}
.register-container {
  opacity: 1;
}
.login-labels {
  display: inline-block;
  width: 300px;
  margin-top: 2rem;
}
.login-inputs {
  margin: 0;
  padding: 0;
}
.login-inputs-show {
  position: relative;
  display: inline-block;
  height: 3rem;
  margin: 0;
  justify-items: center;
}
.login-button-show {
  border: none;
  font-size: 1rem;
  width: auto;
  height: auto;
  position: absolute;
  right: 0.5rem;
  top: 1.8rem;
  color: var(--tertiary);
  background-color: transparent;
  text-decoration: underline;
  margin-top: 0;
  padding: 0;
}

.about-container-div {
  background-color: var(--almostWhite2);
  width: clamp(34rem, 14.0714rem + 55.3571vw, 80.5rem);
  padding: clamp(1rem, 0.1429rem + 2.381vw, 3rem);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--secondary);
}
.about-container-div p {
  margin-top: 1rem;
}
.about-container-div h2 {
  font-size: clamp(2rem, 1.0857rem + 1.4286vw, 3rem);
  margin-bottom: 1rem;
}
.about-container-div h3 {
  margin-top: 1rem;
}

.login-container-div {
  background-color: var(--almostWhite2);
  padding: clamp(2rem, 1.5714rem + 1.1905vw, 3rem)
    clamp(2.5rem, 1.4286rem + 2.9762vw, 5rem);
  width: clamp(31rem, 22.8571rem + 22.619vw, 50rem);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid var(--secondary);
  scrollbar-width: none;
}

.login-container-div p {
  font-size: var(--smallestFont);
  line-height: 1.3;
}
.singin-container-div {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /* gap: 4rem; */
}

.schedule-container-div {
  background-color: var(--almostWhite2);
  width: clamp(34rem, 14.0714rem + 55.3571vw, 80.5rem);
  padding: 3rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--secondary);
}

.schedule-container-div a {
  color: var(--secondary);
  cursor: pointer;
  font-size: clamp(2rem, 1.0857rem + 1.4286vw, 3rem);
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: underline;
}
.schedule-container-div h2 {
  font-size: clamp(2rem, 1.0857rem + 1.4286vw, 3rem);
}

@media (max-width: 768px) {
  .container-div {
    scrollbar-width: none;
  }
  .about-container-div {
    padding-bottom: 3rem;
    margin-bottom: 1.2rem;
  }
}
