.container-div {
  background-color: var(--white);
  height: 100%;
  background-image: url("../assets/bridge.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}
.alico-img {
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: clamp(22%, 17.1429rem + 27.381vw, 50%);
}
.svg {
  position: absolute;
  width: 0;
  height: 0;
}

.bottomLeft {
  bottom: 0;
  position: absolute;
  width: clamp(12%, 7.7143rem + 11.9048vw, 22%);
  height: clamp(10vh, 1.4286rem + 23.8095vw, 30vh);
  background: var(--tertiary);
  background: linear-gradient(
    340deg,
    rgba(76, 185, 68, 1) 1%,
    rgba(36, 110, 185, 1) 20%
  );
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
}
.navSVG {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 24vh;
  background: rgb(76, 185, 68);
  background: linear-gradient(
    90deg,
    rgba(76, 185, 68, 1) 16%,
    rgba(36, 110, 185, 1) 76%
  );
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path2);
  clip-path: url(#my-clip-path2);
}

.proposal-section {
  width: 80%;
  margin: 0 auto;
  padding-top: clamp(5rem, 1.3466rem + 4.2945vw, 6.5rem);
  font-size: clamp(1.6rem, 1.4286rem + 0.4762vw, 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proposal-section h2 {
  margin-bottom: 2rem;
  font-size: clamp(2.8rem, 2.0422rem + 3.2771vw, 4.5rem);
}
.proposal-notify {
  color: var(--tertiary);
  margin-top: -2rem;
  font-size: var(--smallestFont);
}
.button-section {
  position: fixed;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-section button {
  width: clamp(16rem, 14.2857rem + 4.7619vw, 20rem);
}
button a {
  color: var(--almostWhite);
}
/* .button-button {
  color: var(--black);
} */
/* .button-section > a {
  color: var(--white);
  background-color: var(--tertiary);
  border: 2px solid var(--secondary);
  border-radius: 8px;
  height: 4.2rem;
  padding: 0.2rem 0 0 1rem;
  width: 16rem;
  text-align: center;
} */
@media (max-width: 768px) {
  .navSVG {
    background: linear-gradient(
      145deg,
      rgba(76, 185, 68, 1) 1%,
      rgba(36, 110, 185, 1) 70%
    );
  }
}
